[Unit]
Description=Sahyadri protected FTP archive
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/docker start -a @@CONTAINER@@
ExecStop=/usr/bin/docker stop -t 10 @@CONTAINER@@
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
